.header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background: #fcfcfc;
}

.left {
  display: flex;
  align-items: center;
  width: 48px;
}

.backButton {
  display: flex;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: #12181a;
}

.backIcon {
  font-size: 32px;
  font-weight: 300;
}

.iconBox {
  background: #059669;
  color: white;
  padding: 6px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(5, 150, 105, 0.2);
  font-size: 24px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  flex: 1;
  text-align: center;
  color: #12181a;
  padding-right: 48px;
}

.right {
  display: flex;
  width: 48px;
  align-items: center;
  justify-content: flex-end;
}

.helpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  height: 40px;
  width: 40px;
  color: #334155;
  background: none;
  border: none;
  cursor: pointer;
}
